<!doctype html>
<html>
   <body>
{% csrf_token %}
<h1>Welcome, Patient</h1>
<a class="ml-2" href="{% url 'logout' %}">Log Out</a>
<br></br>
<a class="ml-2" href="{% url 'book' %}">Book An Appointment</a>
    <style>
      body {
        background-image: url("https://www.uniper.energy/sites/default/files/gif%20home_reduced.gif");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
	color:white;
	font-size: 30px;  

      }
    </style>
</html>