<!doctype html>
<html><head><title>Sign-up Page</title></head>

   <body>
   <h1>SIGN UP:</h1>
    <div class ="content-section">
      <form method = "POST">
        <style>
          label {
            display: inline-block;
            width: 124px;
          }
  body {
        background-image: url("https://wallpaper.dog/large/854206.jpg");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
	color: white;
	font-size: 18px; 
      }
        </style>
      {% csrf_token %}
      <fieldset class = "form-group">
        <legend class = "border-bottom mb-4">Sign up</legend>

        {{form.as_p}}
        </fieldset>>
        <div class = "form-group">
         <button class = "btn btn-outline-info" type = "submit">Sign Up</button>
         <button onclick="history.go(-1)">Back</button>
        </div> 
</body>
</html>